.cast {
  padding-top: 72px;
  &__textTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__text {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
  }
  &__stripe {
    height: 2px;
    min-width: 100%;
    background-color: #615e5e;
  }
  &__progressStripe {
    background-color: #ec3f3f;
    width: 400px;
    height: 100%;
    transition: 0.8s ease;
  }

  &__arrowLeft {
    margin-right: 39px;
    color: #615e5e;
    cursor: pointer;
  }
  &__arrowRight {
    color: #615e5e;
    cursor: pointer;
  }
  &__arrowActive {
    color: #ec3f3f;
  }
  &__arrowActive:hover {
    color: #ec3f3f;
  }
  &__photo {
    margin-top: 32px;
  }
  &__photoList {
    display: flex;
    transition: 0.3s ease;
  }
  &__photoItem {
    height: 400px;
    min-width: 282px;
    background-color: white;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  &__photoItem:last-child {
    margin-right: 0px;
  }
  &__character {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  &__nameActor {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  &__textActor {
    padding: 0px 0px 32px 24px;
    position: relative;
    z-index: 1;
  }
  &__photoItem:hover {
    align-items: flex-start;
    .cast__textActor {
      padding: 24px 0px 0px 24px;
    }
    .cast__backBlockPhoto {
      display: flex;
    }
  }

  &__backBlockPhoto {
    z-index: 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.486);
    align-items: flex-end;
    padding: 0px 0px 32px 24px;
  }

  &__backBlockPhotoText {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 224px;
  }
}

@media screen and (min-width: 450px) and (max-width: 1000px) {
  .cast {
    padding-top: 64px;
    &__text {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
    }
    &__stripe {
      width: 100%;
    }
    &__progressStripe {
      width: 128px;
    }
    &__progressStripePositionTwo {
      width: 256px;
    }
    &__progressStripePositionThree {
      width: 384px;
    }
    &__progressStripePositionFour {
      width: 512px;
    }
    &__progressStripePositionFive {
      width: 640px;
    }
    &__photoItem {
      height: 400px;
      min-width: 256px;
    }
    &__nameActor {
      font-size: 20px;
    }
    &__character {
      font-size: 20px;
    }
    &__photo_positionTwo {
      transform: translateX(-176px);
    }
    &__photo_positionThree {
      transform: translateX(-457px);
    }
    &__photoPositionFour {
      transform: translateX(-737px);
    }
    &__photoPositionFive {
      transform: translateX(-1017px);
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .cast {
    padding-top: 16px;
    &__textTitle {
      margin-bottom: 24px;
    }
    &__arrowLeft {
      margin-right: 11px;
    }
    &__text {
      text-align: left;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      margin-right: 50px;
    }
    &__stripe {
      width: 100%;
    }
    &__progressStripe {
      width: 54.5px;
    }
    &__progressStripePositionTwo {
      width: 109px;
    }
    &__progressStripePositionThree {
      width: 163.5px;
    }
    &__progressStripePositionFour {
      width: 218px;
    }
    &__progressStripePositionFive {
      width: 272.5px;
    }
    &__progressStripePositionSix {
      width: 100%;
    }
    &__photoItem {
      height: 280px;
      min-width: 216px;
    }
    &__nameActor {
      font-size: 16px;
    }
    &__character {
      font-size: 16px;
    }
    &__textActor {
      padding: 0px 0px 16px 16px;
    }
    &__photo_positionTwo {
      transform: translateX(-128px);
    }
    &__photo_positionThree {
      transform: translateX(-368px);
    }
    &__photoPositionFour {
      transform: translateX(-608px);
    }
    &__photoPositionFive {
      transform: translateX(-848px);
    }
    &__photoPositionSix {
      transform: translateX(-1088px);
    }
  }
}
