.promo {
  background-image: url("../../images/promoImg.png");
  height: 440px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &__descriptionBlock {
    width: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
    text-align: left;
    width: 100%;
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 40px;
    height: 60px;
    text-align: left;
  }
  &__btn {
    background: #ec3f3f;
    width: 204px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-self: flex-start;
    font-family: "FuturaPTBook";
  }
  &__btn:hover {
    background-color: #ff1e1e;
  }
}

@media screen and (min-width: 450px) and (max-width: 1000px) {
  .promo {
    background-image: url("../../images/promo768.png");
    &__descriptionBlock {
      width: 370px;
    }
    &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 16px;
    }
    &__description {
      margin-bottom: 32px;
      height: auto;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .promo {
    background-image: url("../../images/promo360.png");
    &__descriptionBlock {
      width: 280px;
    }
    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 6px;
    }
    &__description {
      margin-bottom: 34px;
      height: auto;
    }
    &__btn {
      width: 186px;
      height: 48px;
    }
  }
}
